- title @cop.lastname + " " + @cop.firstname
%ul#sortable
  - for attachment in @cop.attachments
    %li.ui-state-default
      = link_to image_tag(attachment.attachment.url(:thumb)), attachment.attachment.url(:original)
%p
  Associated departments:
  %ul
    - for department in @cop.departments
      %li
        =link_to department.name, department
%p
  %strong Sex:
  = @cop.sex
%p
  %strong Race:
  = @cop.race
%p
  %strong Rank:
  = @cop.rank
%p
  %strong Badge Number:
  = @cop.badge
%p
  %strong Helmet Number:
  = @cop.helmet
%p
  %strong Address:
  = @cop.address
%p
  %strong City:
  = @cop.city
%p
  %strong State:
  = @cop.state
%p
  %strong Zip:
  = @cop.zip

%p
  %strong Involvements:
  %ul
    - for evidence in @cop.evidences
      %li
        =link_to evidence.title, evidence.url, :target => "_blank"

%p
  - if user_signed_in?
    = link_to "Edit", edit_cop_path(@cop)
    |
    = link_to "Destroy", @cop, :confirm => 'Are you sure?', :method => :delete
    |
  = link_to "View All", cops_path
