- title "Departments"
%ul.thumbnails
  - for department in @departments
    %li.span3
      .thumbnail
        = link_to department do
          =image_tag department.logo.url(:medium)
          %h4= department.name
        %address
          = department.city + ", " + department.state
        %p
          Tracked Officers: 
          = department.cops.count
        - if user_signed_in?
          %td= link_to 'Edit', edit_department_path(department)
          %td= link_to 'Destroy', department, :confirm => 'Are you sure?', :method => :delete
- if user_signed_in?
  %p= link_to "New Department", new_department_path
