- title @department.name
%p
  = image_tag @department.logo.url(:medium)
%address.vcard
  %span.adr
    %span.street-address
      = @department.address
    %span.locality
      = @department.city
    %span.region
      = @department.state
    %span.postal-code
      = @department.postalcode
#cops
  = render :partial =>'cops/cops', :locals => {:cops => @cops}
%p
  - if user_signed_in?
    = link_to "Edit", edit_department_path(@department)
    |
    = link_to "Destroy", @department, :confirm => 'Are you sure?', :method => :delete
    |
  = link_to "View All", departments_path
