- title @department.name
%p
  = image_tag @department.logo.url(:medium)
%p
  %strong Name:
  = @department.name
%p
  %strong City:
  = @department.city
%p
  %strong State:
  = @department.state
%ul
  - for cop in @department.cops
    %li
      = link_to cop do
        = cop.lastname + ", " + cop.firstname

%p
  = link_to "Edit", edit_department_path(@department)
  |
  = link_to "Destroy", @department, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", departments_path
