.navbar-wrapper
  .container
    .navbar.navbar-inverse
      .navbar-inner
        = link_to APP_CONFIG[:default_title], root_path, :class => "brand"
        %ul.nav
          %li
            = link_to "Departments", departments_path
          %li
            = link_to "Cops", cops_path
        #search.pull-right.form-inline
          = render :partial => 'search'
      .navbar-inner.pull-right
        #sign-in.form-inline
          = render :partial => 'signin'
